// bower:scss
// endbower
/*

Globals

*/
$primaryColor: hsl(321, 53%, 51%);
body{
  font-size: 100%;

  font-family: 'Ubuntu Mono', sans-serif;
  margin: 0; 
  padding: 0;
  line-height: 1;
}
a{
  color: #000;
  text-decoration: none;
}
/*

Header Styling

*/

header{
  position: fixed;

  width: 100vw;

  background-color: #fff;
  font-size:1em;
  box-shadow: 0 0 1em 0 black;
  nav ul{
    float:right;

    display: none;
    margin: 0;
    padding: 1em 2em 1em;

    background: #fff;
    li{
      display: block;
      list-style: none;
      &:hover{
        background: #000;
      }
      a{
        display: block;
        padding: .2em;
        font-size: 1em;
        font-weight: bold;
        &:hover{
          color: #fff;
          text-shadow:0px 0px 20px $primaryColor;
        }
      }
    }
  }

}

h1{
  float: left;

  margin: 0;
  padding: 1em 0 1em 1em; 
  font-size: 1em;
}
.nav-toggle{
  padding: .5em;
  float: right;

  position: relative;
  font-size: 1.2em;
  left: -2em;
  cursor: pointer;
}
#line_1:hover, #line_2:hover, #line_3:hover{
  stroke: #f00;
}
input[type=checkbox]{
  display:none;
}
input[type=checkbox]:checked ~ nav ul{
  display: block;
}

/*

Main Styling

*/
article{
    padding: 1em;
  &:first-child{
    min-height: calc(100vh - 4em);
    height:auto;
    padding: 3em 0 0 0;

    color: #fff;
    text-shadow: 1px 1px 5px hsl(0, 0%, 0%);
    background:radial-gradient(
      ellipse farthest-side at top,
      $primaryColor 0,
      hsl(330, 9%, 22%) 100%);
    background-color:black;
  }
  &>*{
    margin: 1em;
  }
  section{
    text-transform: justify;
    a{
      color:#fff;
    }
  }
}
.published, .modified, .author{
  font-size: .8em;
  display:block;
}
.more_link{
  float:right;
  text-decoration: none;
}
figure{
  margin: 0;
  img{
    max-width: 100%;
    height: auto;
  }
  figcaption{
    color: gray;
  }
}

/*

Footer Styling

*/

footer{
  position:fixed;
  bottom:0;

  width:100%;
  
  text-align: center;
  background-color: hsl(0, 0%, 95%);
  box-shadow: 0 0 1em -1em black; 
}
/*

If the viewport is larger then 800px then add this css

*/
@media screen and (min-width: 800px) {
  .nav-toggle{
    display: none;
  }
  header {
    nav{
      ul{
        display: inline-block;  
      
        float: left;
        li{
          display: inline;
          &:hover{
            background: #fff;
          }
          a{
            display: inline;
            padding: 1em;;
            &:hover{
              color:#000;
              padding-bottom: .5em;
              border-bottom: hsl(0, 0%, 0%) 0.2em solid;
            }
          }
        }
      }
    }
    a:hover{
      color: #000;
    }
  }
  article{
    &:first-child{
      width: 100%;

      background-position: 60%;
    }
    width: calc(50% - 2em);
    float: left;
  }
}

/*

If viewport is larger then 800px but smaller then 1150 then apply these rules

*/

@media screen and (min-width: 800px) and (max-width: 1150px){
  article:nth-child(even):not(:first-child){
    clear:both;
  }
}

/*

If viewport is larger then 1150px then apply these rules

*/

@media screen and (min-width: 1150px){
  article{
    width: calc(33% - 2em);
  }
}
